<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE = edge"><![endif]-->

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">

    <meta property="og:description" content="{{description}}">

    <link rel="stylesheet" href="./assets/styles/main.min.css">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" lang="ru" content="{{title}}">

    <!-- for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
